{{ define "admin_oauth_client" -}}
{{- template "admin_header" . }}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  {{ $textClients := .Localizer.TextOauth20Client 2 }}<h1 lang="{{ $textClients.Language }}"><i class="fas fa-globe"></i> {{ $textClients }}</h1>
</div>
{{ template "admin_footer" . }}
{{ end }}
