{{ define "admin_fedi" -}}
{{- template "admin_header" . }}
<div class="row">
  <div class="col d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      {{ $textFediverse := .Localizer.TextFediverse }}<h1 lang="{{ $textFediverse.Language }}"><i class="fa-solid fa-globe"></i> {{ $textFediverse }}</h1>
  </div>
</div>
{{ template "admin_footer" . }}
{{ end }}
